<div class="container mt-5 mb-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="text-left logo p-2 px-5" style="background-color: chartreuse;"> <img src="/img/atn.png" width="50"> </div>
                <div class="invoice p-5">
                    {{#each customer}}
                    <h5>Your order Confirmed!</h5> <span class="font-weight-bold d-block mt-4">Hello, {{this.cusname}}</span> <span>You order has been confirmed and will be shipped in next two days!</span>
                    {{/each}}
                    <div class="payment border-top mt-3 mb-3 border-bottom table-responsive">
                        <table class="table table-borderless">
                            <tbody>
                                <tr>
                                    <td>
                                        {{#each orderproduct}}
                                        <div class="py-2"> <span class="d-block text-muted">Order Date</span> <span>{{this.orderdate}}</span> </div>
                                    </td>
                                    <td>
                                        <div class="py-2"> <span class="d-block text-muted">Order No</span> <span>{{this.orderid}}</span> </div>
                                        {{/each}}
                                    </td>
                                    <td>
                                        {{#each payment}}
                                        <div class="py-2"> <span class="d-block text-muted">Payment</span> <span><img src="https://img.icons8.com/color/48/000000/mastercard.png" width="20" /> {{this.pmethod}}</span> </div>
                                        {{/each}}
                                    </td>
                                    <td>
                                        {{#each customer}}
                                        <div class="py-2"> <span class="d-block text-muted">Shiping Address</span> <span>{{this.address}}</span> </div>
                                        {{/each}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="product border-bottom table-responsive">
                        <table class="table table-borderless">
                            <tbody>
                                <tr>
                                    {{#each product}}
                                    <td width="20%"> <img src="/{{this.proimg}}" width="90"> </td>
                                    <td width="60%"> <span class="font-weight-bold">{{this.proname}}</span>
                                    {{/each}}
                                    {{#each orderdetails}}
                                        <div class="product-qty"> <span class="d-block">Quantity: {{this.quantity}}</span></div>
                                        {{/each}}
                                    </td>
                                    <td width="20%">
                                        {{#each product}}
                                        <div class="text-right"> <span class="font-weight-bold">${{this.proprice}}</span> </div>
                                        {{/each}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row d-flex justify-content-end">
                        <div class="col-md-5">
                            <table class="table table-borderless">
                                <tbody class="totals">
                                    <tr>
                                        <td>
                                            <div class="text-left"> <span class="text-muted">Subtotal</span> </div>
                                        </td>
                                        <td>
                                            {{#each payment}}
                                            <div class="text-right"> <span>${{this.total}}</span> </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="text-left"> <span class="text-muted">Shipping Fee</span> </div>
                                        </td>
                                        <td>
                                            <div class="text-right"> <span>$0</span> </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="text-left"> <span class="text-muted">Tax Fee</span> </div>
                                        </td>
                                        <td>
                                            <div class="text-right"> <span>$0</span> </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="text-left"> <span class="text-muted">Discount</span> </div>
                                        </td>
                                        <td>
                                            <div class="text-right"> <span class="text-success">$0</span> </div>
                                        </td>
                                    </tr>
                                    <tr class="border-top border-bottom">
                                        <td>
                                            <div class="text-left"> <span class="font-weight-bold">Subtotal</span> </div>
                                        </td>
                                        <td>
                                            <div class="text-right"> <span class="font-weight-bold">${{this.total}}</span> </div>
                                                                                        {{/each}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <p>We will be sending shipping confirmation email when the item shipped successfully!</p>
                    <p class="font-weight-bold mb-0">Thanks for shopping with us!</p> <span>ATN Team</span>
                </div>
                {{#each orderproduct}}
                <div class="d-flex justify-content-between footer p-3"> <span>Need Help? visit our <a href="#"> help center</a> </span> <span><button type="button" class="btn btn-success">DOWLOAD</button></span> <span>{{this.orderdate}}</span> </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>